name: ManualBuildOnly
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6   
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          dotnet-quality: 'ga'
      - name: Restore dependencies
        run: |
          dotnet restore ./src/Gldf.Net/Gldf.Net.csproj
          dotnet restore ./src/Gldf.Net.Tests/Gldf.Net.Tests.csproj
      - name: Build
        run: |
          dotnet build --no-restore --configuration Release ./src/Gldf.Net/Gldf.Net.csproj
          dotnet build --no-restore --configuration Debug ./src/Gldf.Net.Tests/Gldf.Net.Tests.csproj
      - name: Test
        run: dotnet test --no-build --verbosity normal ./src/Gldf.Net.Tests/Gldf.Net.Tests.csproj